$photo1: "../static/images/upgrade1.webp"
$photo2: "../static/images/upgrade2.webp"
$photo3: "../static/images/upgrade3.webp"
$photo4: "../static/images/upgrade4.webp" 
$photo5: "../static/images/upgrade5.webp"

=photo($url)
    background-image: url($url)
    background-size: cover
    background-repeat: no-repeat
    width: 8vh
    height: 8vh
    line-height: 8vh
    text-align: center
    border: 0.1vw solid black
    box-sizing: border-box

.compost    
    &profit 
        margin-left: 2vw
        font-size: 1.05rem
        height: 3vh
        line-height: 3vh
        text-align: center            

    &spreadsheetcategory
        width: calc(15vw - 8vh)
        height: 8vh
        line-height: 8vh
        background-color: pink
        text-align: center
        border: 0.1vw solid black
        box-sizing: border-box

        &photo
            width: 8vh
            height: 8vh
            line-height: 8vh
            background-color: pink
            text-align: center
            border: 0.1vw solid black
            box-sizing: border-box

            &1
                +photo($photo1)

            &2
                +photo($photo2)

            &3
                +photo($photo3)

            &4
                +photo($photo4)

            &5
                +photo($photo5)

    &rectangle 
        width: 80vw
        height: 80vh
        display: flex
        flex-direction: column
        background-color: lightgray
        margin-top: 2vh
        border: 0.1vw solid black
        box-sizing: border-box

    &titletexts 
        width: 40vw
        height: 4vh
        line-height: 4vh
        font-size: 1.6rem
        text-align: center

    &insiderectangle
        display: flex
        flex-direction: row
        width: 80vw

    &leftrightrectangle 
        width: 40vw
        height: 70vh
        box-sizing: border-box
        background-color: lightgreen
        border: 0.1vw solid black

    &row 
        width: 35vw
        height: 10vh
        margin-left: 2vw
        margin-top: 2.5vh
        font-size: 1.2rem

    &top
        &rectangle 
            width: 80vw
            height: 4vh
            box-sizing: border-box
            background-color: lightblue    
            border: 0.1vw solid black
            text-align: center
            display: flex
            flex-direction: row

        &economic 
            width: 80vw
            height: 5vh
            box-sizing: border-box
            background-color: yellow
            border: 0.1vw solid black
            text-align: center
            display: flex
            flex-direction: row

    &bottomrectangle 
        width: 80vw
        height: 6vh
        box-sizing: border-box
        background-color: red
        border: 0.1vw solid black
        display: flex
        flex-direction: row
        align-items: center

    &upgrade
        &rectangle 
            width: 80vw
            height: 148vh
            background-color: white
            margin-bottom: 5vh
            margin-top: 2vh
        &title
            width: 80vw
            height: 10vh
            line-height: 10vh
            background-color: maroon
            box-sizing: border-box
            border: 0.1vw solid black
            text-align: center
            font-size: 4rem


    &faq 
        width: 80vw
        height: 80vh
        background: pink
        border: 0.1vw solid black
        box-sizing: border-box
        margin-bottom: 2vh
        display: flex
        flex-direction: column

        &titletexts
            width: 80vw
            height: 4vh
            font-size: 1.6rem
            text-align: center
            box-sizing: border-box

        &inbox
            width: 80vw
            height: 76vh
            background: red
            border: 0.1vw solid black
            box-sizing: border-box
            display: flex
            flex-direction: row

        &text 
            width: 40vw
            height: 76vh
            line-height: 4vh
            background-color: darkkhaki
            box-sizing: border-box
            border: 0.1vw solid black
            font-size: 1.5rem
            padding: 2vw

        &photo
            width: 40vw
            height: 76vh
            background-color: yellow
            box-sizing: border-box
            border: 0.1vw solid black
            padding: 2vw
            background-image: url("../static/images/composter.webp")
            background-size: cover
            background-repeat: no-repeat

.upgraderow 
    width: 80vw
    height: 5vh
    background-color: aqua
    display: flex
    flex-direction: row

    &big
        width: 80vw
        height: 8vh
        background-color: brown
        display: flex
        flex-direction: row

    &mini 
        width: 15vw
        height: 5vh
        line-height: 5vh
        background-color: slateblue
        text-align: center
        border: 0.1vw solid black
        box-sizing: border-box

        &start 
            width: 5vw
            height: 5vh
            line-height: 5vh
            background-color: chocolate
            text-align: center
            border: 0.1vw solid black
            box-sizing: border-box

            &big
                width: 5vw
                height: 8vh
                line-height: 8vh
                background-color: yellow
                text-align: center
                border: 0.1vw solid black
                box-sizing: border-box

.upgradeinputs 
    width: 35vw
    height: 5vh
    text-align: center
    font-size: 2rem

.spreadsheettotal 
    width: 80vw
    height: 3vh
    line-height: 3vh
    background-color: darkslateblue
    text-align: center
    border: 0.1vw solid black
    box-sizing: border-box

#composterForm 
    display: flex
    flex-direction: column
    font-size: 3rem

#profitbutton 
    width: 10vw
    height: 4vh
    margin-left: 1vw
    font-size: 1.5rem
    background: white
    text-align: center
    border: 0.1vw solid black 
    box-sizing: border-box
    cursor: pointer
    &:hover
        background-color: #cccccc

.organicrow 
    width: 35vw
    height: 10vh
    margin-left: 2vw
    margin-top: 3vh
    font-size: 1.5rem

.fuelrow 
    width: 35vw
    height: 15vh
    margin-left: 2vw
    margin-top: 6vh
    font-size: 2rem

#economic1 
    width: 80vw
    height: 5vh
    line-height: 5vh
    box-sizing: border-box
    background-color: lightblue
    border: 0.1vw solid black
    text-align: center
    justify-content: center
    align-items: center
    font-size: 2rem

::placeholder 
    color: rgba(0, 0, 0, 0.5) /* Adjust the alpha value (0 to 1) for transparency */